<div class="container" [class.container__is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="container__toolbar">
    <button id="menu-button" mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="container__spacer"></span>
    <h3 class="container__app-name">Open recruiter</h3>
    <span class="container__spacer"></span>
    <mat-slide-toggle id="mat-toggle-theme" [labelPosition]="'after'" [checked]="isDarkTheme$ | async"
      (change)="toggleDarkTheme($event.checked)">
      <mat-icon>{{ isDarkIcon ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </mat-slide-toggle>
    <button id="more-vert-button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button id="log-out-button" mat-menu-item (click)="logOut()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>{{ adminEmail }}</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="container__sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <a class="container__nav-name" mat-list-item routerLink="{{ nav.RouterLink }}" (click)="snav.toggle()"
          *ngFor="let nav of listSideNav">
          <mat-icon color="primary" class="container__icon-sidenav">{{ nav.Icon }}</mat-icon> {{ nav.Name }}
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
