.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
  text-align: center;
}

.example-sidenav-container {
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}

.icon-sidenav {
  margin-right: 10px;
}

.admin-email {
  font-size: 15px;
}

mat-sidenav {
  min-width: 200px;
}
