.container {
  margin: 35px 50px 35px 35px;

  &__filter {
    width: 100%;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
  }

  &__btn {
    width: 250px;
    height: 45px;
  }
}

.mat-column-email {
  flex: none;
  width: 350px;
}

@media screen and (max-width: 1200px) {
  .container {
    margin: unset;

    &__header {
      margin-top: 1rem;
      justify-content: center;
    }

    &__btn {
      width: 90%;
    }

    &__filter {
      margin-left: 20px;
      width: 90%;
    }
  }

  .mat-column-email {
    flex: unset;
    width: unset;
  }

  .mat-table {
    border: 0;
    vertical-align: middle;
    height: 100%;
  }

  .mat-table caption {
    font-size: 1em;
  }

  .mat-table .mat-header-cell {
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
  }

  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    font-weight: 800;
    text-align: right;
    height: 30px;
    margin-bottom: 4%;
    margin-left: 4%;
    margin-right: 4%;
  }

  .mat-table .mat-cell:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;

    font-size: 0.85em;
  }

  .mat-table .mat-cell:last-child {
    border-bottom: 0;
    padding-right: unset;
  }

  .mat-table .mat-cell:first-child {
    margin-top: 4%;
    padding-left: unset;
  }
}
