@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}

::-webkit-scrollbar {
  width: 4px;
  overflow-y: scroll;
  background: #7f8c8d;
  box-shadow: inset 0 0 4px #717d7e;
}

::-webkit-scrollbar-thumb {
  background: #bfc9ca;
  border-radius: 10px;
}

h1, h2, h3 {
  font-family: "Lato", sans-serif !important;
  font-weight: 300 !important;
  letter-spacing: 2px !important;
  font-size: 48px !important;
}

h2 {
  font-size: 36px !important;
}

h3 {
  font-size: 24px !important;
}

p {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
}
