<div *ngIf="!loading" class="container">
  <mat-card class="container__card">
    <app-doughnut-chart [doughnutChartLabels]="doughnutChartLabels" [doughnutChartDatasets]="doughnutChartDatasets"
      [doughnutChartOptions]="doughnutChartOptions" (chartClick)="chartClicked($event)"></app-doughnut-chart>
  </mat-card>
  <mat-card class="container__card">
    <app-doughnut-chart [doughnutChartLabels]="doughnutChartLabels" [doughnutChartDatasets]="doughnutChartDatasets"
      [doughnutChartOptions]="doughnutChartOptions" (chartClick)="chartClicked($event)"></app-doughnut-chart>
  </mat-card>
  <mat-card class="container__card">
    <app-doughnut-chart [doughnutChartLabels]="doughnutChartLabels" [doughnutChartDatasets]="doughnutChartDatasets"
      [doughnutChartOptions]="doughnutChartOptions" (chartClick)="chartClicked($event)"></app-doughnut-chart>
  </mat-card>
  <mat-card class="container__card">
    <app-doughnut-chart [doughnutChartLabels]="doughnutChartLabels" [doughnutChartDatasets]="doughnutChartDatasets"
      [doughnutChartOptions]="doughnutChartOptions" (chartClick)="chartClicked($event)"></app-doughnut-chart>
  </mat-card>
</div>

<app-progress-bar *ngIf="loading"></app-progress-bar>
