.container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 30px 30px;
  margin: 35px 50px 35px 35px;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 960px) {
  .container {
    grid-template-columns: 100%;
    margin: unset;
  }
}
