<div *ngIf="!loading" class="container">
  <mat-card class="container__card">
    <canvas baseChart [labels]="doughnutChartLabels" [datasets]="doughnutChartDatasets" [options]="doughnutChartOptions"
      [legend]="true" [type]="'doughnut'">
    </canvas>
  </mat-card>
  <mat-card class="container__card">
    <canvas baseChart [labels]="doughnutChartLabels" [datasets]="doughnutChartDatasets" [options]="doughnutChartOptions"
      [legend]="true" [type]="'doughnut'">
    </canvas>
  </mat-card>
  <mat-card class="container__card">
    <canvas baseChart [labels]="doughnutChartLabels" [datasets]="doughnutChartDatasets" [options]="doughnutChartOptions"
      [legend]="true" [type]="'doughnut'">
    </canvas>
  </mat-card>
  <mat-card class="container__card">
    <canvas baseChart [labels]="doughnutChartLabels" [datasets]="doughnutChartDatasets" [options]="doughnutChartOptions"
      [legend]="true" [type]="'doughnut'">
    </canvas>
  </mat-card>
</div>

<app-progress-bar *ngIf="loading"></app-progress-bar>
